<div style="width: 100%; text-align: center;" *ngIf="auth.user | async as user; else showLogin">
    <div class="row">
        <br/>
        </div>
    <div class="row">
        <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" class="user" style="float: right;margin-top: 6px;">
        {{ user.displayName }}
    </div>
    <div class="row">
        <button mat-flat-button color="primary" (click)="logout()">Logout</button>
    </div>
</div>

<ng-template #showLogin>
    <div style="width: 100%; text-align: center;">
        <button mat-flat-button color="primary" (click)="login()">Cadastre-se para usar as ferramentas!</button>
    </div>
</ng-template>